@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

.scrollbar-soft::-webkit-scrollbar {
  height: 4px;
}

.scrollbar-soft::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-soft::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 9999px;
}